[include]
	path = .gitconfig.local
[user]
	name = etheriqa
	email = etheriqa@gmail.com
[color]
	ui = auto
[credential]
	helper = osxkeychain
[core]
	excludesfile = /Users/etheriqa/.gitignore
	editor = vim
[github]
	user = etheriqa
[alias]
	b = branch
	bs = bisect
	c = commit -v
	co = checkout
	cp = cherry-pick
	m = merge --no-ff
	pl = pull --rebase
	ps = push
	s = status
	st = stash
