# vim:noet:ts=8:sw=8:sts=8:
[include]
	path = ~/.gitconfig.local
[user]
	name = Kaede Takamori
	email = etheriqa@gmail.com
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore
	editor = vim
[github]
	user = etheriqa
[init]
	templatedir = ~/.git_templates
[push]
	default = nothing
[pull]
	rebase = true
[rerere]
	enabled = true
[merge]
	log = true
