[include]
	path = .gitconfig.local
[user]
	name = etheriqa
	email = etheriqa@gmail.com
[color]
	ui = auto
[credential]
	helper = osxkeychain
[core]
	excludesfile = /Users/etheriqa/.gitignore
	editor = vim
[github]
	user = etheriqa
[alias]
	co = checkout
	st = status
	cm = commit -v
	br = branch
	cp = cherry-pick
